<nav class="pagination" role="navigation">
    <span class="page-number">第{{page}}/{{pages}}页</span>
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}">上一页</a>
    {{/if}}
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}">下一页</a>
    {{/if}}
</nav>